name: Build APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.0'
        channel: 'stable'

    - name: Get dependencies
      run: flutter pub get
      working-directory: nutritrack

    - name: Build APK
      run: flutter build apk --release --split-per-abi
      working-directory: nutritrack

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk-build
        path: nutritrack/build/app/outputs/apk/release/
        retention-days: 30
